<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shorty</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
            integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
            crossorigin="anonymous"></script>
    <style>
        .bg-purple {
            background: #a232fe
        }

        .text-purple {
            color: #a232fe;
        }

        .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
</head>
<body style="font-family: 'Roboto', serif;">
<div class="" style="display: grid; grid-template-columns: minmax(150px, 150px) 1fr; min-height: 100vh;">

    <div class="sidebar bg-danger">

    </div>

    <div class="main-content mx-5 mt-4">
{#        <div class="form-group float-right mt-1">#}
{#            <span class="fas fa-search form-control-feedback ml-3"></span>#}
{#            <input type="text" class="form-control bg-light pl-5" style="width: 15em;" placeholder="Search">#}
{#        </div>#}

        <div class="w-100 text-center">
            <h1 class="mb-0">UrlShorty</h1>
            <p class="text-purple font-weight-bold">Optimised links</p>
        </div>

        <hr class="my-5">

        <div class="card bg-purple" style="max-width: 30em; margin: auto; border-radius: 1.5em;">
            <div class="accordion" id="accordionExample">
                <div class="card-body text-white">
                    <div class="row">
                        <div class="col-9">
                    <span class="fa-layers fa-fw fa-3x">
                        <i class="fas fa-link"></i>
                        <span class="fa-layers-counter bg-primary font-weight-bold">5</span>
                    </span>
                            <span class="ml-3" style="vertical-align: hanging;">urlshorty.com/<span
                                    style="font-weight: 700">sample1</span></span>
                        </div>
                        <div class="col-3 text-right">
                            <a href="#" class="text-white fa-2x float-right" style="font-weight: 100"
                               data-toggle="collapse"
                               data-target="#collapseOne6">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <hr class="border-white mt-3">
                    <div id="collapseOne6" class="card-body-wrapper collapse" aria-labelledby="headingOne6"
                         data-parent="#accordionExample6" style="">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3
                            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                            nulla
                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                            nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus
                            labore sustainable VHS.
                        </div>
                    </div>
                    <span class="font-italic blockquote-footer text-white">https://dribbble.com/shots/13912616-Course-web-app-Dashboard</span>
                </div>
            </div>
        </div>

        <div class="card bg-purple mt-3" style="max-width: 30em; margin: auto; border-radius: 1.5em;">
            <div class="card-body text-white">
                <div class="row">
                    <p class="col-9">urlshorty.com/<b>sample1</b></p>
                    <div class="col-3 text-right">
                        <p class="fa-layers fa-fw fa-3x">
                            <i class="fas fa-link"></i>
                            <span class="fa-layers-counter bg-primary font-weight-bold">5</span>
                        </p>
                    </div>
                </div>
                <hr class="border-white mt-0">
                <span class="font-italic blockquote-footer text-white">https://dribbble.com/shots/13912616-Course-web-app-Dashboard</span>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        let success_msg = $("#success_msg")
        let failed_msg = $("#failed_msg")
        let error_msg = $("#error_msg")
        let short_url = $("#short_url")
        let orig_url = $("#original_url")
        let orig_url_input = $("#forward_url")

        $("#generate_link").click(function () {
            $.post("{{ url_for("routes.generate_link") }}",
                {
                    "slug": $("#slug").val(),
                    "forward_url": orig_url_input.val()
                })
                .done(function (response) {
                    console.log(response);
                    failed_msg.addClass("d-none");
                    success_msg.removeClass("d-none");
                    short_url.text(response["short_url"])
                    short_url.attr("href", response["short_url"])
                    orig_url.text(orig_url_input.val())
                })
                .fail(function (response) {
                    console.log(response["responseJSON"]);
                    success_msg.addClass("d-none");
                    failed_msg.removeClass("d-none");
                    error_msg.text(response["responseJSON"]["status_msg"])
                })
        })
    });
</script>

</body>
</html>